*.pyc
*.pyo
*.mo
*.db
db.sqlite3
*.egg-info/
*.egg/
.coverage
.project
.idea/
.pydevproject
.idea/workspace.xml
*.sublime-*
.DS_Store
.tox/
.env
.eggs/
.pytest_cache/
build/
dist/
docs/_build/
htmlcov/
